.App {
  padding: 0;
  margin: 0;
}

.main--container {
  width: 65vw !important;
  height: min-content !important;
  /* max-height: 50vh; */
  margin: 0 auto !important;
  margin-top: 6vh !important;
  margin-bottom: -10vh !important;
  display: flex;
  justify-content: space-between;
}

.img-avatar {
  width: 400px;
  height: 400px;
  object-fit: contain;
  justify-self: end;
  margin: 0px 0px 0px 10%;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
